<configuration debug="true" scan="true" scanPeriod="2 seconds">
	
	<!--appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} [%file:%line] (reqId=%X{reqId}) - %msg%n</pattern>
		</encoder>
	</appender-->

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>d:/Throttling_logback.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>Throttling_logback_%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<!--pattern>%-4relative [%thread] %-5level %logger{35} [%file:%line] (reqId=%X{reqId}) - %msg%n</pattern-->
			<pattern>%d{HH:mm:ss.SSS}->%logger{35} - %-5level [%X{reqId}] - %msg %n</pattern>
		</encoder>
	</appender>

	<appender name="FILE_WEB" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>d:/Throttling_Web_logback.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>Throttling_Web_logback_%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS}->%logger{35} - %-5level - %msg %n</pattern>
		</encoder>
	</appender>

	<logger name="Throttling-Web" level="DEBUG">
		<appender-ref ref="FILE_WEB" />
	</logger>
	
	<logger name="Throttling-Core" level="TRACE">
		<appender-ref ref="FILE" />
	</logger>
	
	<!--root level="TRACE">
		<appender-ref ref="STDOUT" />
	</root-->

</configuration>